h2{color: blue; font-family: courier;}
h3{color: red; font-family: courier;}
h2{font-size:20px;}
h3{font-size:20px;}
h2{text-align: center;}

body 
{ background-image:url(EEE.jpg)}
'{background-color: powderblue;}
'P{color: green; border: 2px solid black;}
'p{text-align: center;}